.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
}

.subTitle {
    font-size: large;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    width: 70%;
}

.eachCategoryContainer {
    display: flex;
    justify-content:first baseline;
    align-items: center;
    flex-direction: column;
    margin: 2rem 2rem;
}

.eachTitleText {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 2rem;
}

.marginLeft {
    margin-left: 1rem;
}

.marginRight {
    margin-right: 1rem;
}

.bold {
    font-weight: bold;
}

.fontLarger {
    font-size: larger;
}

.fontLarge {
    font-size: large;
}

.flexAlignItemsCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.serviceCategoryPadding > div {
    padding-bottom: 2rem;
    cursor: pointer;
}

.serviceItemPadding > div {
    padding-bottom: 1.5rem;
}

.informationPadding > * {
    padding-bottom: 0.8rem;
}

.modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    background: #F6EAC0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 20px;
    transition: all 0.3s ease;
}
.modalContainer h1 {
    margin-bottom: 20px;
    color: #3F3D56;
    font-weight: 600;
}

.modalContainer p {
    color: #3F3D56;
    line-height: 1.6;
    margin-bottom: 20px;
}

.closeModal {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: rgba(246, 234, 192, 0.7);
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 18px;
    transition: background 0.3s ease, color 0.3s ease;
    color: #3F3D56;
}

.closeModal:hover {
    background: #FBE3E3;
    color: #FF6347;
}

.serviceLink {
    color: #0073e6;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.serviceLink:hover {
    background-color: #f0f0f0;
}

.cursor {
    cursor: pointer;
}